table{
    border: 1px solid red;
    border-spacing: 10px;
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
th{
    border:1px solid gray;
    /* height: 100px; */
}
td{
    border: 1px solid gray;
    /* padding: 30px; */
    width: 200px;
    text-align: center;
}
.pretty{
    border: 1px solid red;
    background-color: #FFFBCC;
    border-spacing: 0px;
}
.small{
    width: 200px;
}
.align-bottom
{
    vertical-align: bottom;
}